    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth@0,75..100;1,75..100&display=swap');
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    background-color: #cafdff;
}

.logo{
    width: 300px;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
    padding-left: 16px;
}
a {
    color: black;
    font-size: 24px;
    font-weight: bold;
}
header {
    background-color: #eadcff;
    height: calc(100vh - 70px);
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1 {
    font-size: 72px;
}

.subheader {
font-size: 36px;
}
button {
    background-color: #05c7cf;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 24px;
    cursor: pointer;
}
.row{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* About */
#about,
#discord, 
#contact,
#footer {
    padding: 48px 0;
}
#about {
        background-color: #f5ffdc;
}
h2 {
    font-size: 60px;
    text-align: center;
    margin-bottom: 24px;
}
.section__description {
    display: flex;
    justify-content: center;
    align-items: center;
}
.about__img--wrapper {
    width: 40%;
}
img {
    width: 100%;
}

.section__description--wrapper {
    width: 60%;
}
.section__description--para {
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 1.5;
}
.about__img--wrapper, 
.section__description--wrapper {
    padding: 0 24px;

}

/* Discord */
#discord {
    background-color: #cefeff;
}

/* Contact */
#contact {
    background-color: #dce9ff;
}
form {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 24px;
}
.test {
    text-align: center;
}

input, textarea {
    font-size: 24px;
    margin-bottom: 24px;
    padding: 6px 12px;
}

/* footer */
footer {
    background-color: #aaf5ff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__logo {
    max-width: 380px;
    margin-bottom: 16px;
}

.footer__links {
margin-bottom: 32px;
}

.footer__link {
    padding: 0 16px;
}

/* small screens */
@media (max-width: 728px) {
    .row {
        flex-direction: column;
    }
    .home__description {
        margin-bottom: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h1 {
        font-size: 60px;
        align-items: center;
    }
    .subheader{
        font-size: 28px;
        align-items: center;
    }
    .home__description--button {
        max-width: 240px;

    }
    ul {
        display: none;
    }
    .section__description {
        flex-direction: column;
    }
    .section__description--wrapper {
        width: 100%;
    }
    .about__img--wrapper {
        width: 100%;
    }
    #discord .section__description {
        flex-direction: column-reverse;
    }
    footer {
        padding: 48px 28px
    }
    .footer__logo {
        max-width: 350px;
    }
    .footer__link {
        padding: 0 4px;
        font-size: 15px;
    }
    .footer__links {
        margin-bottom: 24px;
    }

}